<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mystic Geheimen</title>
  <link rel="stylesheet" href="styles.css">
  <script>
    if (localStorage.getItem('loggedIn') !== 'true') {
      window.location.href = 'register.html';
    }
  </script>

</head>
<body>

<div id="navbar">
  <div id="hamburger" onclick="toggleNav()">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <button onclick="logout()">Logout</button>

    <script>
      function logout() {
        localStorage.setItem('loggedIn', 'false');
        window.location.href = 'index.html';
      }
    </script>

  </div>
  <div id="nav-menu">
    <ul>
      <a href="about.html">About</a>
      <a href="login.html">Login</a>
      <a href="register.html">Registratie</a>
    </ul>
  </div>
</div>

<h1>Mystic Geheimen</h1>

<div id="player-info">
  <h2>Score: <span id="score-count">0</span></h2>
  <h2>Level: <span id="level-count">1</span></h2>
</div>

<div id="health-bar">
  <p>Speler Gezondheid: <span id="player-health-count">20</span></p>
  <div id="player-health-bar" class="health-bar">
    <div id="player-health" class="health"></div>
  </div>
</div>

<div id="player-hand"></div>
<div class="mana">Mana: <span id="mana-count">0</span></div>

<button id="end-turn">Einde Beurt</button>
<button id="reset-game">Reset Spel</button>


<div id="ai-health-bar" class="health-bar">
  <p>A.I. Gezondheid: <span id="ai-health-count">20</span></p>
  <div id="ai-health" class="health ai-health-green"></div>
</div>

<script src="script.js"></script>

</body>
</html>